h2 {
    color:aquamarine;
}

.bulleted-text{
    font-size: 25px;
}

#introduction{
    color: green;
    font-size: xx-large;
    margin-top: 100px;
    padding-bottom: 13px;
}
body{
    background-color: bisque;
    justify-items: center;
}

.headshot{
    width: 75%;
    height: auto;
}
.container{
    display:flex;
    justify-content: center;
}